<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".MangaPlusUrlActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="mangaplus.shueisha.co.jp"
                    android:pathPattern="/titles/..*" />
                <data
                    android:scheme="https"
                    android:host="mangaplus.shueisha.co.jp"
                    android:pathPattern="/viewer/..*">
                <data
                    android:scheme="https"
                    android:host="jumpg-webapi.tokyo-cdn.com"
                    android:pathPattern="/api/title_detail?title_id=..*">
            </intent-filter>
        </activity>
    </application>

</manifest>